/* General */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #f9f9f9;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #11abb0;
	text-decoration: none;
}

a:hover, a:focus {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hero {
	height: 100vh; /* Full Screen */ 
	text-align: center;
	display: table; /* Vertical align */
	width: 100%;
	background: #000 url(../images/bg.jpg) repeat center center;
	position: relative;
	background-position: 0px 0px;
	animation: animatedBG 40s linear infinite;
	color: #fff;
}

@keyframes animatedBG {
	from { background-position: 0 0; }
	to { background-position: 0 777px; }
}

.hero .logo {
	text-indent: -9999px;
	width: 218px;
	height: 50px;
	background: url(../images/logo.png) no-repeat;
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -109px;
}

.hero .cta {
	display: table-cell; /* Vertical align */
	vertical-align: middle; /* Vertical align */
	text-transform: uppercase;
	padding: 0 15px;
}

.hero .button {
	margin-top: 30px;
}

.hero h1 {
	font-size: 44px;
	line-height: 48px;
	margin: 0 auto;
	font-weight: 700;
}

.hero p, .hero h2 {
	font-size: 20px;
	font-weight: 300;
	margin-top: 15px;
}

/* Icon scroll by Shak Daniel http://codepen.io/shakdaniel/pen/JoKOQx */

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 20px;
  height: 36px;
  margin-left: -10px;
  bottom: 30px;
  margin-top: -18px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: -2px;
  top: 8px;
  border-radius: 2px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
  }
}

.gumroad-button {
	margin-top: 25px;
	text-transform: none;
}

.og-grid li > a:hover {
	opacity: 0.9;
}

.unlocked .og-details a::before {
	content: '\f019';
}

header p, header h2 {
	display: block;
	font-size: 20px;
	font-weight: 300;
	margin-top: 10px;
}

.container {
	width: 100%;
	position: relative;
}

.container > header {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
}

.container > header {
	padding: 60px 30px 50px;
	text-align: center;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0 auto;
	font-weight: 700;
	color: #333;
}

.container > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}

.main > p {
	text-align: center;
	padding: 50px 20px;
}

footer {
	margin-top: 50px;
}

footer .footerLogo {
	text-indent: -9999px;
	width: 50px;
	height: 50px;
	background: url(../images/logo-icon.png) no-repeat;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -25px;
}

.bottom {
	text-align: center;
	background: #111;
	color: #ddd;
	padding: 30px 15px;
}

/* MailChimp */

.hero #mc_embed_signup {
	clear: both;
	margin: 35px auto 0;
	width: 40%;	
}
.hero #mc_embed_signup:before,
.hero #mc_embed_signup:after {
    content: " ";
    display: table;
}
.hero #mc_embed_signup:after {
    clear: both;
}

.hero #mc_embed_signup input {
	display: inline-block;
	float: left;
}
.hero #mc_embed_signup input[type="email"] {	
	font-size: 16px;
	height: 54px;
	line-height: 30px;
	padding: 12px 15px 12px 55px;
	border-radius: 3px 0 0 3px;	
	background: #727272;
	background: rgba(255, 255, 255, .2);	
	width: 70%;
}
.hero #mc_embed_signup input[type="submit"] {
	font-size: 16px;
	line-height: 30px;
	height: 54px;
	padding: 12px 30px;
	margin: 0 0 18px 0;
	border-radius: 0 3px 3px 0;	
	background: #11abb0;
	width: 30%;
	text-transform: uppercase;
}
.hero #mc_embed_signup input[type="submit"]:hover {
	background: #14d0d6;
}

.hero #mc_embed_signup {
	position: relative;
}

.hero .mc_icon {
	position: absolute;
	top: 14px;
	left: 20px;
	font-size: 24px;
}

form { margin-bottom: 24px; }
fieldset { margin-bottom: 24px; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
   display: block;
   padding: 18px 15px;
   margin: 0 0 24px 0;
   border: 0;
   outline: none;
   vertical-align: middle;
   min-width: 225px;
   max-width: 100%;
   font-size: 15px;
   line-height: 24px;
   color: #fff;
   background: #D3D9D9;
   border-radius: 3px;

}

/* Button */

.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
   font: 16px/24px "Lato",Calibri,Arial,sans-serif;
   font-weight: 700;
   background: #11abb0;
   color: #fff;
   display: inline-block;   
   text-decoration: none;
   letter-spacing: 0;   
   padding: 12px 20px;
   margin-bottom: 18px;
   border: none;
   cursor: pointer;
   height: auto;  
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   -ms-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
   border-radius: 3px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
   background: #14d0d6;
   color: #fff;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
   background: #11abb0;
   color: #fff;
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}

/* Fix for odd Mozilla border & padding issues */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
	.hero #mc_embed_signup { 
		width: 60%; 
	}
}
	
@media only screen and (max-width: 800px) {
	.hero h1 {
		font-size: 38px;
		line-height: 42px;
	}
	.hero p {
		font-size: 18px;
	}
	.hero .lock {
		display: none;
	}
	.hero #mc_embed_signup {
		clear: both;
		width: 75%;
	}
	.hero #mc-embedded-subscribe-form {
		margin-bottom: 0;
	}
	.hero #mc_embed_signup input[type="email"] {
		width: 100%;
		border-radius: 3px;
		float: none;
		text-align: center;
		margin-bottom: 5px;
		padding: 12px 15px;
	}
	.hero #mc_embed_signup input[type="submit"] {
		width: 100%;
		border-radius: 3px;
		float: none;
	}
}

@media only screen and (max-width: 460px) {
	.hero #mc_embed_signup { width: 80%; }
}

@media only screen and (max-width: 400px) {
	.hero #mc_embed_signup { width: 90%; }
}

@media only screen and (max-width: 320px) {
	.logo, .icon-scroll {
		display: none;
	}
}