/* General */

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Droid Serif', serif;
    background: #fff;
    font-size: 18px;
	line-height: 28px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #111;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
  color: #888;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hero {
	height: 100vh; /* Full Screen */ 
	text-align: center;
	display: table; /* Vertical align */
	width: 100%;
}

.hero .cta {
	display: table-cell; /* Vertical align */
	vertical-align: middle; /* Vertical align */
	padding: 15px;
}

.hero .button {
	margin-top: 30px;
}

.hero h1 {
	font-size: 44px;
	line-height: 48px;s
	margin: 0 auto;
	font-weight: normal;
}

.hero p, .hero h2 {
	font-size: 18px;
	margin: 30px auto 0;
	width: 35%;
	font-weight: normal;
}

.hero ul.social {
	margin-top: 20px;
	font-size: 18px;
}

.hero ul.social li {
	list-style-type: none;
	display: inline-block;
	margin: 0 5px;
}

/* MailChimp */

.hero #mc_embed_signup {
	clear: both;
	margin: 35px auto 0;
	width: 35%;	
}
.hero #mc_embed_signup:before,
.hero #mc_embed_signup:after {
    content: " ";
    display: table;
}
.hero #mc_embed_signup:after {
    clear: both;
}

.hero #mc_embed_signup input {
	display: inline-block;
	float: left;
}
.hero #mc_embed_signup input[type="email"] {	
	font-size: 16px;
	height: 54px;
	line-height: 30px;
	padding: 12px 15px 12px 15px;
	border-radius: 0;
	border: 1px solid #111;
	background: transparent;
	color: #333;
	width: 70%;
	font-family: 'Droid Serif', serif;
}
.hero #mc_embed_signup input[type="submit"] {
	font-size: 16px;
	line-height: 30px;
	height: 54px;
	padding: 12px 30px;
	margin: 0 0 18px 0;
	border-radius: 0;
	border: 1px solid #111;
	background: #111;
	width: 30%;
}
.hero #mc_embed_signup input[type="submit"]:hover {
	background: #222;
}

.hero #mc_embed_signup {
	position: relative;
}

form { margin-bottom: 24px; }
fieldset { margin-bottom: 24px; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
   display: block;
   padding: 18px 15px;
   margin: 0;
   border: 0;
   outline: none;
   vertical-align: middle;
   min-width: 225px;
   max-width: 100%;
   font-size: 15px;
   line-height: 24px;
   color: #fff;
   background: #D3D9D9;
   border-radius: 0;

}

/* Button */

.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
   font: 16px/24px 'Droid Serif', serif;
   background: #111;
   color: #fff;
   display: inline-block;   
   text-decoration: none;
   letter-spacing: 0;   
   padding: 12px 20px;
   margin-bottom: 18px;
   border: none;
   cursor: pointer;
   height: auto;  
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   -ms-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
   border-radius: 0;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
   background: #222;
   color: #fff;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
   background: #111;
   color: #fff;
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}

/* Video background */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
		background: rgba(255, 255, 255, 0.95);
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
		z-index: -2;
		left: 0;
}
.video-container video {
    position: absolute;
		z-index: -1;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
		left: 0;
		top: 0;
}

@media only screen and (max-width: 800px) {
	.video-container video, .video-container .poster img {
		display: none;
	}

}

/* Fix for odd Mozilla border & padding issues */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
	.hero #mc_embed_signup, .hero p, .hero h2 { 
		width: 60%; 
	}
}
	
@media only screen and (max-width: 800px) {
	.hero h1 {
		font-size: 38px;
		line-height: 42px;
	}
	.hero p {
		font-size: 18px;
	}
	.hero #mc_embed_signup, .hero p, .hero h2 {
		clear: both;
		width: 75%;
	}
	.hero #mc-embedded-subscribe-form {
		margin-bottom: 0;
	}
	.hero #mc_embed_signup input[type="email"] {
		width: 100%;
		float: none;
		text-align: center;
		margin-bottom: 5px;
		padding: 12px 15px;
	}
	.hero #mc_embed_signup input[type="submit"] {
		width: 100%;
		border-radius: 0;
		float: none;
	}
	.hero p, .hero h2 {
		width: 100%;
	}
}

@media only screen and (max-width: 460px) {
	.hero #mc_embed_signup, .hero p, .hero h2 { width: 80%; }
}

@media only screen and (max-width: 400px) {
	.hero #mc_embed_signup, .hero p, .hero h2 { width: 90%; }
	.logo { width: auto; height: 35px; }
}

@media only screen and (max-width: 320px) {
	.hero #mc_embed_signup input[type="email"] { font-size: 16px; }
}

/* Safari fix for hero unit height */

@media screen and (-webkit-min-device-pixel-ratio:0) { 

    ::i-block-chrome,.hero {
     height: 667px;
    }
}